$titlecor:#5f4040;
$sectioncor: #faf2f2;
$footercor: #dfcaca;
$hiragino: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');